extends Layout


block content

  h1 Returned Posts
  //- #{JSON.stringify(articles)}
  <h1>
    p There was an error and no posts were found. Try again
  </h1>

  <table style="width:100%; text-align:center; border-collapse: collapse">
    <tr>
      <td width="50%">
        if before != null
          button(id="prevPage",value=`before=${before}&after=${after}`) Previous Page
        else
          button(id="prevPage",value=`before=${before}&after=${after}`,disabled, style="color: white;") Previous Page
      </td>
      <td width="50%">
        button(id="nextPage",value=`before=${before}&after=${after}`) Next Page
      </td>
    </tr>
  </table>


    
  script(src='/javascripts/summary.js')

