extends Layout


block content

  h1 Returned Posts
  //- #{JSON.stringify(articles)}
  <table>
  each post in posts
    .item
    
    <tr>
      //- Title, click on tilte to go to reddit post
      <th>
        a(href=`https://www.reddit.com/r/food/comments/${post.data.id}`)
          button(class="redditTitle") #{post.data.title}
      </th>
      //- Image, click on photo to go to larger view of image
      <th>
        a(href=post.data.url)
          img(src=post.data.url,width="200" height="200",class="redditPicture",alt=post.data.title)
      </th>
      //- Get recipe
      <th>
        button(class="getRecipe",value=post.data.title) Get Recipe
      </th>
    </tr>
  </table>

  <table style="width:100%; text-align:center; border-collapse: collapse">
    <tr>
      <td width="50%">
        if before != null
          button(id="prevPage",value=`before=${before}&after=${after}`) Previous Page
        else
          //- button(id="prevPage",value=`before=${before}&after=${after}`,disabled, style="color: white;") Previous Page
      </td>
      <td width="50%">
        button(id="nextPage",value=`before=${before}&after=${after}`) Next Page
      </td>
    </tr>
  </table>


    
  script(src='/javascripts/summary.js')

