extends layout


block content
  
    <table>
        <tr>
            <th>
                p Showing the #{recipes.length} most popular recipes
                    <table>
                    each recipe in recipes
                        .item
                        <tr>
                            //- Title, click on title to get recipe and ingredients ect.
                            <td class="buttonBox">
                                button(class="recipeTitle",value=`${query},${recipe.recipe.uri}`) #{recipe.recipe.label}
                            </td>
                            //- Image, click on photo to go to larger view of image
                            <td>
                                img(src=recipe.recipe.image,width="200" height="200",class="recipePicture",alt=recipe.recipe.label)
                            </td>
                        </tr>
                        - index += 1
                    </table>
            </th>

            <th>
                <div class="selectedRecipe"></div>
            </th>
        </tr>
    </table>
    
    script(src='/javascripts/recipeShow.js')
    